# .env file in Rent-Ride/Backend/
JWT_SECRET=9844177965
MONGODB_URI=mongodb://localhost:27017/rentride
PORT=5000
EMAIL_USER=rentridenp@gmail.com
EMAIL_PASS=yfypkelbybiqdqns




# Khalti Configuration
KHALTI_SECRET_KEY=hehelamadai
KHALTI_PUBLIC_KEY=heheLamadai
KHALTI_PAYMENT_URL=https://a.khalti.com/api/v2/epayment/initiate/
KHALTI_VERIFICATION_URL=https://a.khalti.com/api/v2/epayment/lookup/
FRONTEND_URL=http://localhost:5173